.tooltip {
    /* 補足説明するテキストのスタイル */
    position: relative;
    cursor: pointer;
    padding: 0 5px;
    font-size: 0.9em;

}

.description_top {
    /* ツールチップのスタイル */
    width: 100px;
    /* 横幅 */
    position: absolute;
    left: 50%;
    bottom: 80%;
    /* Y軸の位置 */
    transform: translateX(-50%);
    margin-bottom: 8px;
    /* テキストとの距離 */
    padding: 8px;
    border-radius: 10px;
    /* 角の丸み */
    background-color: #666;
    font-size: 1em;
    color: #fff;
    text-align: center;
    visibility: hidden;
    /* ツールチップを非表示に */
    opacity: 0;
    /* 不透明度を0％に */
    z-index: 1;
    transition: 0.1s all;
    /* マウスオーバー時のアニメーション速度 */
}

.tooltip:hover .description_top {
    /* マウスオーバー時のスタイル */
    bottom: 100%;
    /* Y軸の位置 */
    visibility: visible;
    /* ツールチップを表示 */
    opacity: 1;
    /* 不透明度を100％に */
}